<!DOCTYPE html>
<html ng-App="KRRclass" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>	
	<script src="js/Chart.min.js"></script>
	<script src="js/angular-chart.min.js"></script>

	<script src="main.js"></script>                                                 

  </head>

  <body  ng-controller="MainCtrl">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Find Your Perfect Flight</h1>
            <p class="lead">The aim of this application is for you to be able to view what every airline offers and find the best for you!</p>
        </div>
    </div>  
      

    
    <!--From location dropdown-->
    
    <div class="container">
      <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">From Location
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-center">
            <ul ng-repeat="element in dropdown1" class="list-group">
                <li class="list-group-item"><a class="fromElements" href="#" onclick="dropdown1();">{{element}}</a></li>
            </ul>
        </ul>
        <div class="text-center">
            <button id="submitFromLocation" class="btn btn-primary" type="submit">Submit</button>
        </div> 
      </div>
    </div>
    
    <br>
    <br>
    
    <!--To location dropdown-->
    
    <div class="container">
      <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">To Location
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-center">
            <ul ng-repeat="element in dropdown2" class="list-group">
                <li class="list-group-item"><a class="toElements" href="#" onclick="dropdown2()">{{element}}</a></li>
            </ul>
        </ul>
        <div class="text-center">
            <button id="submitToLocation" class="btn btn-primary" type="submit">Submit</button>
        </div> 
      </div>
    </div>
	
    <br>
    <br>

    <!--Height input-->
    <div class="text-center">
        Height: <input id="height" type="number" name="height" min="100" max="280" data-toggle="tooltip" title="To calculate comfort">cm
    </div>

    <br>
    <br>

    <!--Checkboxes for optional extras-->

    <div class="row checkbox-row">
      <div class="col-xs-2 col-xs-offset-4">
        <div class="checkbox-inline">
          <label class="checkbox-inline">
            <input id="wifi" type="checkbox" value="">WiFi</label>
        </div>
      </div>
      <div class="row checkbox-row">
        <div class="col-xs-2">
          <div class="checkbox-inline">
            <label class="checkbox-inline">
              <input id="power" type="checkbox" value="">Power</label>
          </div>
        </div>
      </div>

    </div>
        <div class="row checkbox-row">
      <div class="col-xs-2 col-xs-offset-4">
        <div class="checkbox-inline">
          <label class="checkbox-inline">
            <input id="aSeat" type="checkbox" value="">Aisle Seat</label>
        </div>
      </div>
      <div class="row checkbox-row">
        <div class="col-xs-2">
          <div class="checkbox-inline">
            <label class="checkbox-inline">
              <input id="wSeat" type="checkbox" value="">Window Seat</label>
          </div>
        </div>
      </div>

    </div> 
    <div class="text-center">
        <button id="submit" class="btn btn-primary" type="submit">Submit</button>
    </div> 

      
    <script>
        function dropdown1(){    
            var x = document.getElementsByClassName("fromElements")[0].innerHTML;
            console.log(x);
            
        }
        function dropdown2(){    
            var x = document.getElementsByClassName("toElements")[1].innerHTML;
            console.log(x);
            
        }
    </script>  
      
    <!--Output-->
      <p class="text-center">From: {{fromLocation}}</p>
      <p class="text-center">To: {{toLocation}}</p>
      
      <table id="outputTable">
        <tr>
          <th>Airline</th>
          <th>Aircraft</th>
          <th>Comfort</th>
        </tr>
      </table>
    
<div data-skyscanner-widget="SearchWidget"></div>
            
 <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
      
      

    <!-- JavaScript libraries -->


  </body>

</html>
